#main {
    max-width: 600px;
    margin: 0 auto;
}

#header {
    padding: 1em 0;
    background: #F0CCB1;
    text-align: center;
}

#header h1 {
    padding: 0;
    margin: 0;
}

#header h1 a {
    color: #000000;
    text-decoration: none;
}

.blog-post h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.blog-post h2 a {
    color: #1C6BEA;
    text-decoration: none;
}

.blog-info {
    padding-top: 0;
    margin-top: 0;
}

.blog-post pre {
    color: #d7d7d7;
    background: #222222;
    padding: 6px;
    white-space: pre-wrap;
    overflow: hidden;
}

.blog-post em {
    background: #dddddd;
    font-style: normal;
}

.blog-post a {
    color: #1C6BEA;
}
